'name': 'Raxe'
'scopeName': 'source.raxe'

'fileTypes': [
  'rx'
  'Raxefile'
]

'firstLineMatch': '\\A#!.*?\\braxe\\b'

'patterns': [
  {
    'captures':
      '1':
        'name': 'keyword.control.raxe'
      '2':
        'name': 'entity.name.type.class.raxe'
    'match': '^\\s*(class|trait|enum|abstract|interface)\\s+([.a-zA-Z0-9_@]+)'
    'name': 'meta.class.raxe'
  }
  {
    'captures':
      '1':
        'name': 'keyword.control.raxe'
      '2':
        'name': 'entity.name.function.raxe'
      '3':
        'name': 'punctuation.definition.parameters.begin.raxe'
      '4':
        'name': 'variable.parameter.function.raxe'
      '5':
        'name': 'punctuation.definition.parameters.end.raxe'
    'match': '\\b(def)(?:\\s+([a-zA-Z_@]\\w*)\\s*)?(\\()([^)]*)(\\))'
    'name': 'meta.function.raxe'
  }
  {
    'captures':
      '1':
        'name': 'keyword.control.raxe'
      '2':
        'name': 'keyword.operator.assignment.raxe'
    'match': '\\b(def)(?:\\s+(?:[a-zA-Z0-9_@]\\w*)\\s*)(?:[^\\(\\)](=|:))'
    'name': 'variable.other.raxe'
  }
  {
    'begin': '^[\\s]*""'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.raxe'
    'end': '^[\\s]*""'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.raxe'
    'name': 'string.quoted.other.multiline.raxe'
    'patterns': [
      {
        'include': '#interpolated_raxe'
      }
      {
        'include': '#escaped_char'
      }
    ]
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.raxe'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.raxe'
    'name': 'string.quoted.double.interpolated.raxe'
    'patterns': [
      {
        'include': '#interpolated_raxe'
      }
      {
        'include': '#escaped_char'
      }
    ]
  }
  {
    'begin': '^[\\s]*##'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.raxe'
    'end': '^[\\s]*##'
    'name': 'comment.block.raxe'
  }
  {
    'begin': '(^[ \\t]+)?(?=#)'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.raxe'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.raxe'
        'end': '\\n'
        'name': 'comment.line.number-sign.raxe'
      }
    ]
  }
  {
    'match': '\\b(break|do|else|for|if|elsif|return|while|end|private|in|inline|override|import|macro|trace|new|switch|when|try|catch|throw)\\b'
    'name': 'keyword.control.raxe'
  }
  {
    'match': '(?<![\\d.])\\s0x[a-fA-F\\d]+|\\b\\d+(\\.\\d+)?([eE]-?\\d+)?|\\.\\d+([eE]-?\\d+)?'
    'name': 'constant.numeric.raxe'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(false|null|true)\\b|(?<![.])\\.{3}(?!\\.)'
    'name': 'constant.language.raxe'
  }
  {
    'match': '\\b[A-Z]\\w*'
    'name': 'support.class.raxe'
  }
  {
    'match': '\\b([a-z_@]\\w*)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.any-method.raxe'
  }
  {
    'match': '<|::'
    'name': 'keyword.operator.inheritance.raxe'
  }
  {
    'match': '=|:'
    'name': 'keyword.operator.assignment.raxe'
  }
  {
    'match': '\\+|-|%|\\*|\\/|\\^|==?|~=|<=?|>=?|(?<!\\.)\\.{2}(?!\\.)'
    'name': 'keyword.operator.raxe'
  }
]

'repository':
  'escaped_char':
    'match': '\\\\.'
    'name': 'constant.character.escape.raxe'
  'interpolated_raxe':
    'patterns': [
      {
        'begin': '(#\\{)'
        'beginCaptures':
          '0':
            'name': 'punctuation.section.embedded.begin.raxe'
          '1':
            'name': 'source.raxe'
        'contentName': 'source.raxe'
        'end': '(\\})'
        'endCaptures':
          '0':
            'name': 'punctuation.section.embedded.end.raxe'
          '1':
            'name': 'source.raxe'
        'name': 'meta.embedded.line.raxe'
        'patterns': [
          {
            'include': '$self'
          }
        ]
      }
      {
        'captures':
          '1':
            'name': 'punctuation.definition.variable.raxe'
        'match': '(#)[a-zA-Z_@]\\w*'
        'name': 'variable.other.readwrite.global.raxe'
      }
    ]
