'.source.raxe':
  'editor':
    'commentStart': '# '
    'commentEnd': ''
    'increaseIndentPattern': '(^.*(\\(|{|\\[if|while|for|else|elsif|try|catch|finally|switch|when|else|class|interface|trait|enum|abstract)\\b.*\\s*$)|(^.*(def\\s*[a-zA-Z_@]?\\w*\\s*\\().*\\s*$)|(^.*\\b(do)\\b\\s*$)'
    'decreaseIndentPattern': '^.*(\\)|}|\\]|end|else|elsif|catch|when)\\b'
